/* GALERIE */
.galerie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.galerie-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s;
  cursor: pointer;
}

.galerie-grid img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .galerie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
